.search {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    border-radius: 25px;
    background-color: #cdc8c8;
}
.search-section {
    display: flex;
    align-items:center;
    justify-content: start;
    flex-direction: column;
    width: 25%;
    padding: 0 20px;
}
.search-input {
    background-color:#cdc8c8;
    border:0;
}